aiohappyeyeballs==2.4.4
aiohttp==3.11.11
aiosignal==1.3.2
aiosqlite==0.21.0
airflow-providers==0.2.12
alembic==1.14.1
altair==5.5.0
annotated-types==0.7.0
anyio==4.8.0
apache-airflow==2.10.5
apache-airflow-providers-amazon==5.1.0
apache-airflow-providers-common-compat==1.3.0
apache-airflow-providers-common-io==1.5.0
apache-airflow-providers-common-sql==1.21.0
apache-airflow-providers-fab==1.5.3
apache-airflow-providers-ftp==3.12.0
apache-airflow-providers-http==5.0.0
apache-airflow-providers-imap==3.8.0
apache-airflow-providers-smtp==1.9.0
apache-airflow-providers-sqlite==4.0.0
apispec==6.8.1
argcomplete==3.5.3
asgiref==3.8.1
asn1crypto==1.5.1
asttokens==2.4.1
async-timeout==5.0.1
attrs==24.2.0
azure-core==1.32.0
azure-identity==1.19.0
babel==2.17.0
beautifulsoup4==4.12.3
blinker==1.9.0
boto3==1.36.16
botocore==1.36.16
branca==0.8.0
cachelib==0.9.0
cachetools==5.5.1
category-encoders==2.6.4
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.4.0
click==8.1.8
clickclick==20.10.2
cloudpickle==3.1.0
cohere==5.13.11
colorama==0.4.6
colorlog==6.9.0
comm==0.2.2
ConfigUpdater==3.2
connexion==2.14.2
contourpy==1.3.0
cron-descriptor==1.4.5
croniter==6.0.0
cryptography==44.0.0
cycler==0.12.1
Cython==3.0.11
dacite==1.8.1
dash==2.18.2
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
dataclasses-json==0.6.7
debugpy==1.8.7
decorator==5.1.1
Deprecated==1.2.18
deprecation==2.1.0
dill==0.3.9
dirtyjson==1.0.8
distro==1.9.0
dnspython==2.7.0
email_validator==2.2.0
et-xmlfile==1.1.0
eval_type_backport==0.2.2
exceptiongroup==1.2.2
executing==2.1.0
fastavro==1.10.0
fastjsonschema==2.20.0
filelock==3.17.0
filetype==1.2.0
Flask==2.2.5
Flask-AppBuilder==4.5.3
Flask-Babel==2.0.0
Flask-Caching==2.3.0
Flask-JWT-Extended==4.7.1
Flask-Limiter==3.10.1
Flask-Login==0.6.3
Flask-Session==0.5.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.2.2
folium==0.18.0
fonttools==4.54.1
frozenlist==1.5.0
fsspec==2024.12.0
GeoAlchemy2==0.15.2
geopandas==1.0.1
gitdb==4.0.12
GitPython==3.1.44
google-re2==1.1.20240702
googleapis-common-protos==1.66.0
greenlet==3.1.1
grpcio==1.70.0
gunicorn==23.0.0
h11==0.14.0
htmlmin==0.1.12
httpcore==1.0.7
httpx==0.28.1
httpx-sse==0.4.0
huggingface-hub==0.28.1
idna==3.10
ImageHash==4.3.1
imbalanced-learn==0.12.4
importlib_metadata==8.5.0
importlib_resources==6.4.5
inflection==0.5.1
ipykernel==6.29.5
ipython==8.18.1
ipywidgets==8.1.5
itsdangerous==2.2.0
jedi==0.19.1
Jinja2==3.1.4
jiter==0.8.2
jmespath==1.0.1
joblib==1.3.2
jsonpath-ng==1.7.0
jsonpath-python==1.0.6
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyterlab_widgets==3.0.13
kaleido==0.2.1
kiwisolver==1.4.7
lazy-object-proxy==1.10.0
lightgbm==4.5.0
limits==4.0.1
linkify-it-py==2.0.3
llama-cloud==0.1.11
llama-index==0.11.23
llama-index-agent-openai==0.3.4
llama-index-cli==0.3.1
llama-index-core==0.11.23
llama-index-embeddings-adapter==0.2.2
llama-index-embeddings-huggingface==0.5.1
llama-index-embeddings-openai==0.2.5
llama-index-experimental==0.3.1
llama-index-finetuning==0.2.0
llama-index-indices-managed-llama-cloud==0.6.0
llama-index-legacy==0.9.48.post4
llama-index-llms-azure-openai==0.2.2
llama-index-llms-groq==0.3.1
llama-index-llms-mistralai==0.2.7
llama-index-llms-ollama==0.5.0
llama-index-llms-openai==0.3.18
llama-index-llms-openai-like==0.3.3
llama-index-multi-modal-llms-openai==0.2.3
llama-index-postprocessor-cohere-rerank==0.2.1
llama-index-program-openai==0.2.0
llama-index-question-gen-openai==0.2.0
llama-index-readers-file==0.3.0
llama-index-readers-llama-parse==0.3.0
llama-parse==0.5.20
llvmlite==0.43.0
lockfile==0.12.2
lxml==5.3.1
Mako==1.3.9
mapclassify==2.8.1
markdown-it-py==3.0.0
MarkupSafe==3.0.2
marshmallow==3.26.0
marshmallow-oneofschema==3.1.1
marshmallow-sqlalchemy==0.28.2
matplotlib==3.7.5
matplotlib-inline==0.1.7
mdit-py-plugins==0.4.2
mdurl==0.1.2
methodtools==0.4.7
missingno==0.5.2
mistralai==1.5.0
more-itertools==10.6.0
mpmath==1.3.0
msal==1.31.1
msal-extensions==1.2.0
multidict==6.1.0
multimethod==1.12
mypy-boto3-appflow==1.36.0
mypy-boto3-rds==1.36.14
mypy-boto3-redshift-data==1.36.0
mypy-extensions==1.0.0
narwhals==1.26.0
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.2.1
nltk==3.9.1
numba==0.60.0
numpy==1.26.4
ollama==0.4.7
openai==1.60.2
openpyxl==3.1.5
opentelemetry-api==1.30.0
opentelemetry-exporter-otlp==1.30.0
opentelemetry-exporter-otlp-proto-common==1.30.0
opentelemetry-exporter-otlp-proto-grpc==1.30.0
opentelemetry-exporter-otlp-proto-http==1.30.0
opentelemetry-proto==1.30.0
opentelemetry-sdk==1.30.0
opentelemetry-semantic-conventions==0.51b0
ordered-set==4.1.0
orjson==3.10.13
packaging==24.1
pandas==2.1.4
parso==0.8.4
pathspec==0.12.1
patsy==1.0.1
pendulum==3.0.0
phik==0.12.4
pillow==11.0.0
platformdirs==4.3.6
plotly==5.24.1
plotly-resampler==0.10.0
pluggy==1.5.0
ply==3.11
pmdarima==2.0.4
portalocker==2.10.1
prettytable==3.12.0
prison==0.2.1
prompt_toolkit==3.0.48
propcache==0.2.1
protobuf==5.29.3
psutil==6.1.0
pure_eval==0.2.3
pyarrow==18.0.0
pycaret==3.3.2
pycparser==2.22
pydantic==2.10.4
pydantic_core==2.27.2
pydeck==0.9.1
Pygments==2.18.0
PyJWT==2.10.1
pyod==2.0.3
pyogrio==0.10.0
pyparsing==3.2.0
pypdf==5.2.0
pyproj==3.6.1
python-daemon==3.1.2
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-nvd3==0.16.0
python-slugify==8.0.4
pytz==2024.2
PyWavelets==1.6.0
PyYAML==6.0.2
pyzmq==26.2.0
redshift-connector==2.1.5
referencing==0.35.1
regex==2024.11.6
requests==2.32.3
requests-toolbelt==1.0.0
retrying==1.3.4
rfc3339-validator==0.1.4
rich==13.9.4
rich-argparse==1.7.0
rpds-py==0.21.0
s3transfer==0.11.2
safetensors==0.5.2
schemdraw==0.15
scikit-base==0.7.8
scikit-learn==1.4.2
scikit-plot==0.3.7
scipy==1.11.4
scramp==1.4.5
seaborn==0.13.2
sentence-transformers==2.7.0
setproctitle==1.3.4
shap==0.46.0
shapely==2.0.6
six==1.16.0
sktime==0.26.0
slicer==0.0.8
smmap==5.0.2
sniffio==1.3.1
soupsieve==2.6
SQLAlchemy==1.4.54
SQLAlchemy-JSONField==1.0.2
sqlalchemy-redshift==0.8.14
SQLAlchemy-Utils==0.41.2
sqlparse==0.5.3
stack-data==0.6.3
statsmodels==0.14.4
streamlit==1.42.0
striprtf==0.0.26
sympy==1.13.1
tabulate==0.9.0
tbats==1.1.3
tenacity==8.3.0
termcolor==2.5.0
text-unidecode==1.3
threadpoolctl==3.5.0
tiktoken==0.8.0
time-machine==2.16.0
tokenizers==0.21.0
toml==0.10.2
torch==2.6.0
tornado==6.4.1
tqdm==4.67.1
traitlets==5.14.3
transformers==4.48.2
tsdownsample==0.1.3
typeguard==4.4.1
types-requests==2.32.0.20241016
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2024.2
uc-micro-py==1.0.3
universal_pathlib==0.2.6
urllib3==1.26.20
visions==0.7.6
watchdog==6.0.0
watchtower==2.0.1
wcwidth==0.2.13
Werkzeug==2.2.3
widgetsnbextension==4.0.13
wirerope==1.0.0
wordcloud==1.9.4
wrapt==1.17.2
WTForms==3.2.1
xxhash==3.5.0
xyzservices==2024.9.0
yarl==1.18.3
ydata-profiling==4.12.1
yellowbrick==1.5
zipp==3.20.2
